.About {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background: white;
}
.about-header {
  height: 300px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-family: 'AvantGardeMdITC';
  text-transform: capitalize;
  font-size: 3em;
  background-image: url('../assets/bonita.png');
}
.about-mission-wrapper {
  display: flex;
  padding: 0 15%;
  flex-direction: column;
  align-items: center;
}
.about-mission-wrapper h2 {
  letter-spacing: 2px;
  font-family: 'Nexa';
  padding: 3em 0;
  -webkit-font-smoothing: antialiased;
  text-transform: uppercase;
  font-size: 1em;
  font-weight: 600;
}
.about-mission-wrapper p {
  font-family: 'Nexa';
  line-height: 2.5em;
  text-align: center;
  margin: 0 2.5em;
  line-height: 2.5em;
  text-align: center;
  padding-bottom: 2em;
  -webkit-font-smoothing: antialiased;
}
.instructors-block {
  display: flex;
  flex-direction: column;
  width: 100%;
  text-align: -webkit-center;
  padding-bottom: 2.5em;
}
.instructors-block h2 {
  font-family: 'Nexa';
  font-size: 2em;
  text-transform: capitalize;
  padding: 0.8em 0;
  -webkit-font-smoothing: antialiased;
}
.instructors-body {
  display: flex;
  justify-content: center;
}
.intsructors-block__trio {
  width: 270px;
  box-sizing: border-box;
  margin: 1.5em;
}
.intsructors-block__trio img {
  width: 100%;
}
.intsructors-block__trio h2 {
  padding: 1em 0 0.5em 0;
  font-family: 'Nexa';
  -webkit-font-smoothing: antialiased;
  font-size: 1.5em;
}
.intsructors-block__trio span {
  letter-spacing: 2px;
  font-family: 'Nexa';
  text-transform: uppercase;
  font-size: 0.5em;
  font-weight: 700;
  -webkit-font-smoothing: antialiased;
}
.giving-block {
  width: 100%;
  color: white;
  background: #482548;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 4em;
}
.giving-block h2 {
  font-family: 'Nexa';
  font-size: 2em;
}
.giving-body {
  display: flex;
  height: 440px;
  width: 100%;
  justify-content: space-evenly;
  padding: 5em;
}
.community-wrapper,
.donations-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 480px;
}
.community-wrapper h3,
.donations-wrapper h3 {
  font-family: 'Nexa';
  -webkit-font-smoothing: antialiased;
  font-size: 1.5em;
  padding: 0 0 1em 0;
}
.community-wrapper p,
.donations-wrapper p {
  font-family: 'Nexa';
  -webkit-font-smoothing: antialiased;
  line-height: 2em;
  text-align: -webkit-center;
}

@media screen and (max-width: 767px) {
  .about-mission-wrapper p {
    margin: 0;
    font-size: 13px;
    line-height: 1.5em;
    text-align: justify;
  }
  .instructors-body {
    flex-direction: column;
  }
  .giving-body {
    padding: 2em 0 0;
    flex-direction: column;
  }
  .community-wrapper,
  .donations-wrapper {
    width: 100%;
    height: 100%;
  }
  .community-wrapper p,
  .donations-wrapper p {
    line-height: 1em;
    padding: 0 3em;
  }
  .donations-wrapper {
    margin: 2em 0 0;
  }
  .giving-block {
    padding-top: 2em;
    height: 80vh;
  }
  .about-header h1 {
    font-size: 1.3em;
  }
}
