.artCampCard {
  font-family: 'Nexa';
  display: flex;
  padding: 4em 6em;
}
.artCampCard:nth-of-type(even) {
  flex-direction: row-reverse;
}
.campCard-left {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 630px;
  height: 410px;
  padding: 0 3em;
}
.firstImage {
  position: absolute;
  top: 202px;
  z-index: 10;
  width: 250px;
  right: 107px;
  height: 200px;
}
.secondImage {
  position: absolute;
  top: 162px;
  width: 310px;
  height: 220px;
  left: -20px;
}
.thirdImage {
  width: 400px;
  height: 250px;
  position: absolute;
  top: -20px;
  z-index: 9;
}
.campCard-right {
  width: 50%;
  height: 410px;
  box-sizing: border-box;
  padding: 0 3em;
  color: black;
}
.campright-header {
  margin-top: -10px;
  padding: 1em 0;
  color: #492649;
  font-family: AvantGardeMdITC;
}
.campright-header__text {
  font-size: 2.5em;
  font-weight: 800;
  -webkit-font-smoothing: antialiased;
}
.campright-body {
  font-family: Playfair Display;
  color: #492649;
}
.camright-body__text {
  font-size: 1em;
  line-height: 1.9em;
  padding: 0.5em 0px;
}
.campright-info {
  display: flex;
  padding: 1em 0;
  justify-content: space-evenly;
  padding-right: 115px;
}
.campInfo-left {
  display: flex;
  flex-direction: column;
}
.campInfo-left span {
  color: #492649;
  letter-spacing: 1px;
  margin-top: 1px;
  text-transform: uppercase;
  font-size: 0.8em;
}
.campright-info span {
  padding: 0.5em 0em;
  font-size: 0.8em;
  font-weight: 600;
}
.campright-info li {
  font-family: 'Nexa';
  padding: 0.5em 0;
  font-size: 1em;
  color: #492649;
}
.campright-contacts ul {
  color: #492649;
  font-size: 0.8em;
}
.hl {
  color: #492649;
}
@media screen and (max-width: 767px) {
  .artCampCard {
    margin: 0;
    flex-direction: column-reverse;
  }
  .cardleft-upper {
    height: 170px;
    width: 320px;
  }
  .campCard-left {
    align-items: center;
  }
  .cardleft-lower {
    width: 320px;
    height: 100px;
  }
  .campCard-right {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .campright-header__text {
    font-size: 1.3em;
    padding-top: 1em;
  }
  .campright-body p {
    text-align: justify;
    line-height: 1.7em;
    font-size: 11px;
  }
  .campright-info {
    font-size: 0.8em;
    width: 100%;
  }
  .campright-contacts ul {
    font-size: 11px;
  }
}
