.artCampCard {
  font-family: "Nexa";
  display: flex;
  margin: 4em 10em;
}
.campCard-left {
  display: flex;
  flex-direction: column;
}
.cardleft-upper {
  height: 270px;
}
.cardleft-upper img {
  height: 100%;
}
.cardleft-lower {
  display: flex;
  height: 175px;
}
.cardleft-lower img {
  width: 50%;
}
.campCard-right {
  box-sizing: border-box;
  margin: 0 2em;
  color: black;
}
.campright-header {
  margin-top: -10px;
  padding: 1em 0;
}
.campright-header__text {
  font-size: 2.5em;
  font-weight: 800;
  -webkit-font-smoothing: antialiased;
}
.campright-body {
}
.camright-body__text {
  font-size: 1em;
  line-height: 1.9em;
  padding: 0.5em 0px;
}
.campright-info {
  display: flex;
  flex-direction: column;
  padding: 1em 0;
}
.campright-info span {
  padding: 0.5em 0em;
  font-size: 1em;
  font-weight: 600;
}
.campright-info li {
  padding: 0.5em 0;
  font-size: 1em;
}
.campright-contacts {
}
@media screen and (max-width: 767px) {
  .artCampCard {
    margin: 0;
    flex-direction: column-reverse;
  }
  .cardleft-upper {
    height: 170px;
    width: 320px;
  }
  .campCard-left {
    align-items: center;
  }
  .cardleft-lower {
    width: 320px;
    height: 100px;
  }
  .campCard-right {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .campright-header__text {
    font-size: 1.3em;
    padding-top: 1em;
  }
  .campright-body p {
    text-align: justify;
    line-height: 1.7em;
    font-size: 11px;
  }
  .campright-info {
    font-size: 0.8em;
    width: 100%;
  }
  .campright-contacts ul {
    font-size: 11px;
  }
}
