.Footer {
  background: white;
  height: 245px;
  background-image: url("../assets/footer-brush.png");
  background-position: right;
  background-repeat: no-repeat;
}
.footer-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  margin: 0 6%;
}
.footer-container span {
  padding-bottom: 3em;
  font-size: 0.8em;
  -webkit-font-smoothing: antialiased;
}
.footer-icon__container {
  display: flex;
  align-items: center;
  width: 100%;
  height: 60px;
  padding: 4em 0 1em;
  margin-bottom: 10px;
}
.fa {
  color: #828282;
  font-family: "FontAwesome";
}
.footer-icon__container span {
  -webkit-font-smoothing: antialiased;
  font-weight: 800;
}
.footer-icon__container a {
  padding: 0 2em 0 0;
}
.footer-icon__container a:hover {
  cursor: pointer;
  color: #492649;
}
.footer-middle {
  padding: 1.5em 0;
}
.footer-middle a {
  color: #828282;
  font-size: 16px;
  font-family: Nexa, sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  -webkit-font-smoothing: antialiased;
  margin-right: 45px;
  padding: 5px;
}
.footer-middle a:hover {
  cursor: pointer;
  color: #492649;
}
.footer-copyright {
  font-family: Playfair Display, serif;
  color: #a8a8a8;
}
@media screen and (max-width: 767px) {
  .Footer {
    height: 30vh;
  }
  .footer-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .footer-icon__container {
    justify-content: baseline;
  }

  i {
    font-size: 1.5em;
  }
  .footer-middle {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  .footer-container span {
    line-height: 1.3em;
    padding: 1em 0 0;
    text-align: left;
  }
  .footer-middle span {
    text-align: left;
    display: flex;
    font-size: 11px;
    line-height: 1.9em;
  }
}
