.Homepage {
  height: 100%;
}
.banner-container {
  height: 410px;
  background-image: url("../assets/hero-home-1.jpg");
  background-repeat: no-repeat;
}
.banner-text-container {
  width: 580px;
  position: relative;
  top: 115px;
  margin: 0 8%;
  color: white;
}
.banner__text {
  font-family: "Myriad Pro";
  font-size: 1em;
  text-transform: uppercase;
  letter-spacing: 1px;
}
.banner__text2 {
  font-family: "Playfair Display";
  font-size: 1em;
  font-weight: normal;
  font-style: italic;
}
.banner__header {
  padding: 0.5em 0em;
  font-family: "AvantGardeMdITC";
  font-size: 4em;
}
.mission-container {
  background: url("../assets/mission-block-background.png") 0px 0px no-repeat,
    url("../assets/location-block-background.png") 0px 630px no-repeat;
  height: 1000px;
  background-repeat: no-repeat;
  color: white;
}
.mission-left {
  width: 100%;
}
.mission-pics {
  z-index: 10;
}
.mission-wrapper {
  width: 745px;
  display: flex;
  position: relative;
  top: -899px;
  right: -680px;
}
.mission-header-container {
  margin: 202px 0;
  padding: 0 2em 0 0;
}
.mission-header__text {
  font-family: "Myriad Pro";
  text-transform: uppercase;
  letter-spacing: 1px;
}
.mission-body-container {
  line-height: 2.5em;
  margin: 193px 0;
}
.mission-body__text {
  font-family: "Playfair Display";
  font-size: 1.5em;
  -webkit-font-smoothing: antialiased;
  font-weight: 600;
}
.location-container {
  height: 170vh;
  width: 100%;
}
.location-header-container {
  margin-top: -93px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: transparent;
}
.location-header__text {
  font-family: "AvantGardeMdITC";
  z-index: 5;
  color: white;
  font-size: 4em;
}
.location-body-container {
  flex-direction: column;
  display: flex;
  padding-top: 3em;
  height: 165vh;
  background-image: url("../assets/secondary-background-tile.png");
}
.location-body__upper,
.location-body__lower {
  justify-content: center;
  display: flex;
  height: 530px;
}
