.locationBlock-wrapper {
  width: 100%;
}
.locations-tag__container {
  text-align: center;
  background-position-y: -9px;
  height: 332px;
  background-color: white;
  display: flex;
  justify-content: center;
  color: white;
  width: 100%;
  background-image: url("../assets/location-block-background.png");
}
.locations-tag__container h1 {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding-bottom: 1em;
  font-size: 2em;
  color: white;
  -webkit-font-smoothing: antialiased;
  font-family: "AvantGardeMdITC";
}
.locations-body {
  background-image: url("../assets/secondary-background-tile.png");
  display: flex;
  width: 100%;
  align-items: center;
  flex-direction: column;
  height: 160vh;
}
.location-upper,
.location-lower {
  display: flex;
  padding: 2em 0;
}
@media screen and (max-width: 767px) {
  .location-upper,
  .location-lower {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 100%;
    margin: 1em 0;
    padding: 0;
  }
  .locations-body {
    height: 100%;
  }
  .location-card-container {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    flex-direction: column;
  }
  .location-card {
    width: 100%;
  }
  .location-right span {
    font-size: 0.8em;
  }
  .location-name {
    font-size: 1.3em;
  }
  .card-info {
    font-size: 0.8em;
    line-height: 20px;
  }
  .locations-tag__container h1 {
    margin: 1em 0 0;
    font-size: 1.2em;
    padding-bottom: 0;
  }
  .locations-tag__container {
    height: 60px;

    background-image: url("../assets/secondary-background-tile.png");
  }
}
