.Locations {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
}
.locations-header {
  height: 300px;
  /* background-repeat: no-repeat; */
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-family: "AvantGardeMdITC";
  text-transform: capitalize;
  font-size: 3em;
  background-image: url("../assets/bonita.png");
}
.locations-header h1 {
  font-size: 1.5em;
}
@media screen and (max-width: 767px) {
  .locations-header h1 {
    font-size: 1.3em;
  }
}
