.location-card-container {
  margin: 0.5em;
  width: 475px;
  height: 370px;
}
.location-image__wrapper {
  width: 475px;
  height: 250px;
}
.location-image__wrapper img {
  width: 475px;
  height: 250px;
}
.location-overlay:first-of-type {
  background-color: rgba(73, 38, 73, 0.7);
}
.location-overlay:nth-of-type(2) {
  background-color: rgba(253, 163, 89, 0.7);
}
.location-overlay {
  position: relative;
  display: flex;
  top: -252px;
  height: 250px;
  width: 475px;
  justify-content: center;
  align-items: center;
}
.location-overlay h2 {
  font-family: "AvantGardeMdITC";
  font-size: 2em;
  line-height: 1.5em;
  color: white;
  text-decoration: none;
}
.locationCard-Bottom {
  position: relative;
  top: -245px;
  display: flex;
  justify-content: space-between;
  padding: 10px 0 25px;
  font-family: Playfair Display, serif;
  color: #fff;
  line-height: 1.5;
  font-weight: lighter;
  -webkit-font-smoothing: antialiased;
  letter-spacing: 0.02em;
  font-size: 1.2em;
}
.locationCard-Links {
  display: flex;
  flex-direction: column;
  line-height: 30px;
  text-align: right;
}
.locationCard-Links a {
  font-family: "Nexa";
  font-size: 12.8px;
  text-decoration: none;
  color: white;
  text-transform: uppercase;
}
.locationCard-Links i {
  padding-left: 5px;
  font-family: "FontAwesome";
  color: white;
}
